<div>
    <h1 class="page-header">Button</h1>
    <div class="panel">
        <div class="panel-body">
            <h2>Button roles</h2>
            <div class="container-fluid">
                <div class="row">
                    <button type="button" cf-button [cfRole]="ButtonRoles.default">Default</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.primary">Primary</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.danger">Danger</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.success">Success</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.info">Info</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.warning">Warning</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.link">Link</button>
                </div>
            </div>

            <h2>Disabled state</h2>
            <div class="container-fluid">
                <div class="row">
                    <button type="button" cf-button [cfRole]="ButtonRoles.default" disabled>Default</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.primary" disabled>Primary</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.danger" disabled>Danger</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.success" disabled>Success</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.info" disabled>Info</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.warning" disabled>Warning</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.link" disabled>Link</button>
                </div>
            </div>

            <h2>Button sizes</h2>
            <div class="container-fluid">
                <div class="row">
                    <button type="button" cf-button [cfSize]="ButtonSizes.large">Large</button>
                    <button type="button" cf-button [cfSize]="ButtonSizes.normal">Normal</button>
                    <button type="button" cf-button [cfSize]="ButtonSizes.small">Small</button>
                    <button type="button" cf-button [cfSize]="ButtonSizes.extraSmall">Extra small</button>
                </div>
            </div>

            <h2>Block level buttons</h2>
            <div class="container-fluid" style="max-width: 400px; margin: 0;">
                <div class="row">
                    <button type="button" cf-button [cfRole]="ButtonRoles.default" [cfBlock]="true">Block level</button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.primary" [cfBlock]="true">Block level</button>
                </div>
            </div>

            <h2>Button groups</h2>
            <div class="container-fluid">
                <div class="row">
                    <cf-button-group>
                        <button type="button" cf-button>Left</button>
                        <button type="button" cf-button>Middle</button>
                        <button type="button" cf-button>Right</button>
                    </cf-button-group>
                </div>
            </div>

            <h2>Toggle buttons</h2>
            <div class="container-fluid">
                <div class="row">
                    <button type="button" [cf-toggle-button]="true">Active</button>
                    <button type="button" cf-toggle-button>Normal</button>
                    <cf-button-group>
                        <button type="button" cf-toggle-button>Left</button>
                        <button type="button" [cf-toggle-button]="true">Middle</button>
                        <button type="button" cf-toggle-button>Right</button>
                    </cf-button-group>
                </div>
            </div>

            <h2>Icon buttons</h2>
            <div class="container-fluid">
                <div class="row">
                    <button type="button" cf-button>
                        <i class="fa fa-comment"></i>
                        Comment
                    </button>
                    <button type="button" cf-button [cfIconOnly]="true">
                        <i class="fa fa-print"></i>
                        <span class="sr-only">Print</span>
                    </button>
                    <button type="button" cf-button [cfRole]="ButtonRoles.primary" [cfIconOnly]="true">
                        <i class="fa fa-save"></i>
                        <span class="sr-only">Save</span>
                    </button>
                    <button type="button" class="btn-hover" cf-button [cfIconOnly]="true">
                        <i class="fa fa-calendar-o"></i>
                        <span class="sr-only">Calendar</span>
                    </button>
                    <button type="button" cf-button>
                        Lock
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
