<mat-card>
    <mat-form-field>
        <input matInput placeholder="First name" maxlength="20" [(ngModel)]="firstName" #firstName1>
        <mat-hint align="end">{{firstName1.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Last name" maxlength="20" [(ngModel)]="lastName" #lastName1>
        <mat-hint align="end">{{lastName1.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Role" [(ngModel)]="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">{{role.text}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="searchClicked()">Search</button>
</mat-card>

<mat-card>
    <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.lastName}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef>Role</mat-header-cell>
                <mat-cell *matCellDef="let row">{{displayRole(row.role)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button title="Edit user" (click)="editUser(row)"><mat-icon>edit</mat-icon></button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</mat-card>
