<md-card>
    <md-input-container>
        <input mdInput placeholder="First name" maxlength="20" [(ngModel)]="firstName" #firstName1>
        <md-hint align="end">{{firstName1.value.length}} / 20</md-hint>
    </md-input-container>

    <md-input-container>
        <input mdInput placeholder="Last name" maxlength="20" [(ngModel)]="lastName" #lastName1>
        <md-hint align="end">{{lastName1.value.length}} / 20</md-hint>
    </md-input-container>

    <md-select placeholder="Role" [(ngModel)]="role">
        <md-option *ngFor="let role of roles" [value]="role.value">{{role.text}}</md-option>
    </md-select>

    <button md-raised-button color="primary" (click)="searchClicked()">Search</button>
</md-card>

<md-card>
    <div class="example-container mat-elevation-z8">
        <md-table #table [dataSource]="dataSource">
            <ng-container cdkColumnDef="firstName">
                <md-header-cell *cdkHeaderCellDef>First Name</md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.firstName}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="lastName">
                <md-header-cell *cdkHeaderCellDef>Last Name</md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.lastName}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="email">
                <md-header-cell *cdkHeaderCellDef>Email</md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.email}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="address">
                <md-header-cell *cdkHeaderCellDef>Address</md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.address}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="role">
                <md-header-cell *cdkHeaderCellDef>Role</md-header-cell>
                <md-cell *cdkCellDef="let row">{{displayRole(row.role)}}</md-cell>
            </ng-container>

            <ng-container cdkColumnDef="action">
                <md-header-cell *cdkHeaderCellDef>Action</md-header-cell>
                <md-cell *cdkCellDef="let row">
                    <button md-icon-button title="Edit user" (click)="editUser(row)"><md-icon>edit</md-icon></button>
                </md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </div>
</md-card>
