<div>
    <h4> <a href="https://material.io/icons/">Material Design Icons - Guidelines</a></h4>
</div>
<mat-card>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="50px" *ngFor="let icon of iconList" style="width: 80%">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-icon>{{icon.icon}}</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">{{icon.name}}</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">{{icon.description}}</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <span class="hljs-tag">&lt;<span class="hljs-name">mat-icon</span>&gt;{{icon.icon}}&lt;/<span class="hljs-name">mat-icon</span>&gt;</span>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>