<div role="navigation" class="cbp-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">
                <div class="cbp-brand"></div>
                <div class="dhs-brand"></div>
            </a>
            <button data-target="#navbar-user-info" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle Global Navigation</span>
            </button>
        </div>
        <div id="navbar-user-info" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown" *ngFor="let item of data.cbpMenu"
                    [class]="item.className" >
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button"
                        (click)="goTo(item)"
                        [title]="item.title"
                        [innerHTML]="item.html">
                      <!-- Your application name goes here!!!-->
                    </a>
                    <ul class="dropdown-menu" role="menu" *ngIf="item.hasMenu">
                        <li *ngFor="let itemMenu of item.menu"
                            [ngClass]="{ 'divider': itemMenu.divider}">
                            <a *ngIf="item.html.length > 0"
                                (click)="goTo(itemMenu)"
                                [title]="itemMenu.title"
                                [innerHTML]="itemMenu.html"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="fa fa-comment"></span>
                        <span class="hidden-sm">Feedback</span>
                    </a>
                </li>
                <li data-toggle="hover" class="dropdown" *ngFor="let item of data.userMenu"
                    [class]="item.className" >
                    <a data-toggle="dropdown" class="dropdown-toggle"
                        (click)="goTo(item)"
                        [title]="item.title"
                        [innerHTML]="item.html">
                    </a>
                    <ul rel="right-menu-links" role="menu" class="dropdown-menu" *ngIf="item.hasMenu">
                        <li *ngFor="let itemMenu of item.menu"
                            [ngClass]="{ 'divider': itemMenu.divider}">
                            <a *ngIf="item.html.length > 0"
                                (click)="goTo(itemMenu)"
                                [title]="itemMenu.title"
                                [innerHTML]="itemMenu.html"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div role="navigation" class="app-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle Application Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="nav navbar-nav">
                <ul class="nav nav-tabs nav-tabs-light" role="tablist">
<!--                     <li class="active" role="presentation">
                        <a href="http://www.google.com" target="_blank" role="tab" >Active App View Link</a>
                    </li> -->

                    <li class="dropdown" role="presentation" *ngFor="let item of data.appMenu"
                        [class]="item.className"> <!-- think about active className -->
                        <a (click)="goTo(item)"
                        [title]="item.title"
                        [innerHTML]="item.html"
                        [ngClass]="{ 'pull-left': item.hasMenu }"></a>
                        <a [ngClass]="{ 'pull-right': item.hasMenu }" (click)="goTo(item)" *ngIf="item.hasMenu" 
                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-hidden="true" aria-label="submenu" *ngIf="item.hasMenu">
                            <li role="presentation" *ngFor="let itemMenu of item.menu"
                                [class]="itemMenu.className"
                                [ngClass]="{ 'divider': itemMenu.divider }">
                                <a data-toggle="tab" *ngIf="item.html.length > 0"
                                    (click)="goTo(itemMenu)"
                                    [title]="itemMenu.title"
                                    [innerHTML]="itemMenu.html"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nav navbar-nav navbar-form navbar-right">
                <form role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="mdl-textfield mdl-js-textfield">
                                <label for="main-search" class="mdl-textfield__label">Search</label>
                                <input type="text" id="main-search" class="mdl-textfield__input" />
                            </div>
                            <span class="input-group-btn">
                                <button aria-label="Search" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
