#======================================
# Files and Directories
#--------------------------------------
coverage/
node_modules/
server/db.json
target/
tmp/
ng2-cf/
.vs/


#======================================
# Extensions
#--------------------------------------
*.gz
*.log
*.rar
*.tar
*.zip


#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
