<div>
    <h1 class="page-header">Checboxes</h1>
    <div class="panel">
        <div class="panel-body">
            <h2>Vertical</h2>
            <div class="container-fluid">
                <div class="row">
                    <cf-checkbox [(ngModel)]="demo1Model">Checked</cf-checkbox>
                    <cf-checkbox [(ngModel)]="demo2Model">Normal</cf-checkbox>
                    <cf-checkbox [(ngModel)]="demo3Model" [disabled]="true">Disabled</cf-checkbox>
                    <cf-checkbox [(ngModel)]="demo4Model">
                        Extended
                        <cf-help-text>This option has some useful help text associated with it that elaborates on the state or purpose.</cf-help-text>
                    </cf-checkbox>
                </div>
            </div>

            <h2>Inline</h2>
            <div class="container-fluid">
                <div class="row">
                    <cf-checkbox-group [isInline]="true">
                        <cf-checkbox [(ngModel)]="demo5Model">Checked</cf-checkbox>
                        <cf-checkbox [(ngModel)]="demo6Model">Normal</cf-checkbox>
                        <cf-checkbox [(ngModel)]="demo7Model" [disabled]="true">Disabled</cf-checkbox>
                    </cf-checkbox-group>
                </div>
            </div>
        </div>
    </div>
</div>
