<header mat-dialog-title>
    Edit {{firstName1.value}} {{lastName1.value}}
</header>
<mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="First name" maxlength="20" size="23" [(ngModel)]="firstName" #firstName1>
        <mat-hint align="end">{{firstName1.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Last name" maxlength="20" size="23" [(ngModel)]="lastName" #lastName1>
        <mat-hint align="end">{{lastName1.value.length}} / 20</mat-hint>
    </mat-form-field>

    <br />

    <mat-form-field>
        <input matInput placeholder="Email" maxlength="20" size="50" [(ngModel)]="email" #email1>
        <mat-hint align="end">{{email1.value.length}} / 20</mat-hint>
    </mat-form-field>

    <br />

    <mat-form-field>
        <input matInput placeholder="Address" maxlength="40" size="50" [(ngModel)]="address" #address1>
        <mat-hint align="end">{{address1.value.length}} / 40</mat-hint>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="primary" (click)="onCancelClick()">CANCEL</button>
    <button mat-button color="primary" (click)="onSaveClick()">SAVE</button>
</mat-dialog-actions>