<label class="cbp-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" for="row[1]" data-upgraded=",MaterialCheckbox,MaterialRipple">
    <input type="checkbox" id="row[1]" class="mdl-checkbox__input">
    <span class="mdl-checkbox__label">Checked</span>
    <span class="mdl-checkbox__focus-helper"></span>
    <span class="mdl-checkbox__box-outline">
        <span class="mdl-checkbox__tick-outline"></span>
    </span>
    <span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple">
        <span class="mdl-ripple"></span>
    </span>
</label>