<div class="dropdown-tree-field dtf--floating-label is-dirty">
    <input type="text" id="{{id}}-input" class="dropdown-tree dt--hidden-accesible" [attr.aria-expanded]="isDropdownOpen" tabindex="-1" aria-hidden="true" />
    <span #dropdownContainer class="dropdown-tree dt--container dt--container-default" [ngClass]="containerClasses" dir="ltr">
        <span class="dt--selection">
            <span  class="dt--selection-combobox"
                   role="combobox"
                   aria-haspopup="true"
                   [attr.aria-expanded]="isDropdownOpen"
                   tabindex="0"
                   [attr.aria-labelledby]="id + '-selection'"
                   [attr.aria-owns]="ariaOwnsId"
                   [attr.aria-activedescendant]="ariaActiveDescendentId"
                   (keydown)="onComboboxKeydown($event)"
                   (click)="onComboboxClick()"
                   (focus)="onComboboxFocus()"
                   (blur)="onComboboxBlur()">

                <span class="dt--rendered" id="{{id}}-selection" [title]="selectedText">{{selectedText}}</span>
                <span class="dt--arrow" role="presentation">
                    <b role="presentation"></b>
                </span>
            </span>
        </span>
        <span class="dt--dropdown-wrapper" aria-hidden="true"></span>
    </span>
    <span *ngIf="isDropdownOpen" class="dt--dropdown dt--container dt--container-default dt--container-open" [style.left]="dropdownLeft" [style.top]="dropdownTop">
        <span class="dt--dropdown dt--dropdown-below" dir="ltr" [style.width]="dropdownWidth">
            <span class="dt--results">
                <ul [id]="treeId" role="tree" class="tree tree-root" aria-expanded="true" aria-hidden="false">
                    <cf-dropdown-tree-item *ngIf="defaultNode" [idPrefix]="treeItemIdPrefix" [node]="defaultNode"></cf-dropdown-tree-item>
                    <cf-dropdown-tree-item *ngFor="let n of nodes" [idPrefix]="treeItemIdPrefix" [node]="n"></cf-dropdown-tree-item>
                </ul>
            </span>
        </span>
    </span>
    <label [attr.for]="id + '-input'">{{label}}</label>
</div>