<div>
    <h1 class="page-header">Plain Ol' Select</h1>
    <div class="panel">
        <div class="panel-body">
            <h2>Single</h2>
            <div class="container-fluid" style="max-width: 400px; margin: 0;">
                <div class="row">
                    <cf-select-field>
                        <option value=""></option>
                        <option value="A">Option A</option>
                        <option value="B">Option B</option>
                        <option value="C">Option C</option>
                        <cf-label>With floating label</cf-label>
                    </cf-select-field>
                </div>
            </div>

            <h2>Multiple</h2>
            <div class="container-fluid" style="max-width: 400px; margin: 0;">
                <div class="row">
                    <cf-select-field [multiple]="true">
                        <option value="A">Option A</option>
                        <option value="B">Option B</option>
                        <option value="C">Option C</option>
                        <option value="D">Option D</option>
                        <cf-label>With floating label</cf-label>
                    </cf-select-field>
                </div>
            </div>
        </div>
    </div>
</div>
