<table id="{{id}}-pay-period-calendar" class="pay-period-calendar">
    <thead>
        <tr class="nav">
            <td class="prev-month">
                <button type="button" class="btn btn-icon-only btn-primary btn-xs" [disabled]="isFirstMonthShown()" (click)="showPreviousMonth()">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous Month</span>
                </button>
            </td>
            <td class="quick-select" colspan="6">
                <div class="mdl-selectfield mdl-js-selectfield">
                    <select id="{{id}}-pay-period-year" class="mdl-selectfield__select year" aria-label="Year" [(ngModel)]="shownYear">
                        <option *ngFor="let year of years" [value]="year">{{year}}</option>
                    </select>
                </div>
                <div class="mdl-selectfield mdl-js-selectfield">
                    <select id="{{id}}-pay-period-month" class="mdl-selectfield__select month" aria-label="Month" [(ngModel)]="shownMonth">
                        <option *ngFor="let month of monthsOfYear" [value]="month">{{month.name}}</option>
                    </select>
                </div>
            </td>
            <td class="next-month">
                <button type="button" class="btn btn-icon-only btn-primary btn-xs" [disabled]="isLastMonthShown()" (click)="showNextMonth()">
                    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next Month</span>
                </button>
            </td>
        </tr>
        <tr class="headers">
            <th scope="col" class="pp"><abbr title="Pay Period">PP</abbr></th>
            <th scope="col" class="day sunday"><abbr title="Sunday">S</abbr></th>
            <th scope="col" class="day monday"><abbr title="Monday">M</abbr></th>
            <th scope="col" class="day tuesday"><abbr title="Tuesday">T</abbr></th>
            <th scope="col" class="day wednesday"><abbr title="Wednesday">W</abbr></th>
            <th scope="col" class="day thursday"><abbr title="Thursday">T</abbr></th>
            <th scope="col" class="day friday"><abbr title="Friday">F</abbr></th>
            <th scope="col" class="day saturday"><abbr title="Saturday">S</abbr></th>
        </tr>
    </thead>
    <tbody>
        <template ngFor let-pp [ngForOf]="payPeriodsOfMonth" [ngForTrackBy]="payPeriodTrackBy">
            <tr id="{{id}}-pay-period-{{pp.id}}-week1" class="week week1" [ngClass]="{ 'even': even, 'odd': odd, 'last': last, 'selected': isSelected(pp), 'is-selectable': pp.isSelectable }" (click)="selectPayPeriod(pp)">
                <th scope="row" class="pp" rowspan="2">
                    <button type="button" class="btn btn-primary btn-xs" [disabled]="!pp.isSelectable" (click)="selectPayPeriod(pp); $event.stopPropagation();">{{pp.number}}</button>
                    <span class="selected-text" *ngIf="isSelected(pp)">(selected)</span>
                </th>
                <td class="day sunday">{{dayOfMonth(pp, 1, 0)}}</td>
                <td class="day monday">{{dayOfMonth(pp, 1, 1)}}</td>
                <td class="day tuesday">{{dayOfMonth(pp, 1, 2)}}</td>
                <td class="day wednesday">{{dayOfMonth(pp, 1, 3)}}</td>
                <td class="day thursday">{{dayOfMonth(pp, 1, 4)}}</td>
                <td class="day friday">{{dayOfMonth(pp, 1, 5)}}</td>
                <td class="day saturday">{{dayOfMonth(pp, 1, 6)}}</td> 
            </tr>
            <tr id="{{id}}-pay-period-{{pp.id}}-week2" class="week week2" [ngClass]="{ 'even': even, 'odd': odd, 'last': last, 'selected': isSelected(pp), 'is-selectable': pp.isSelectable }" (click)="selectPayPeriod(pp)">
                <td class="day sunday">{{dayOfMonth(pp, 2, 0)}}</td>
                <td class="day monday">{{dayOfMonth(pp, 2, 1)}}</td>
                <td class="day tuesday">{{dayOfMonth(pp, 2, 2)}}</td>
                <td class="day wednesday">{{dayOfMonth(pp, 2, 3)}}</td>
                <td class="day thursday">{{dayOfMonth(pp, 2, 4)}}</td>
                <td class="day friday">{{dayOfMonth(pp, 2, 5)}}</td>
                <td class="day saturday">{{dayOfMonth(pp, 2, 6)}}</td>
            </tr>
        </template>
    </tbody>
</table>
