@import "~ng2-cbp-cf/theme/cbp-theme";

.mat-table {
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;

    .mat-icon-button {
        height: 32px;
        line-height: 32px;
        width: 32px;

        .mat-icon.material-icons {
            font-size: 18px;
            height: 18px;
            line-height: 18px;
            width: 18px;
        }
    }
}

.mat-table-head {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;

    .mat-table-row {
        min-height: 64px;
    }
}

.mat-table-body {
    .mat-table-row:hover {
        background-color: mat-color($mat-grey, 200);
    }

    .mat-table-row,
    .mat-table-nested-row {
        border-top: 1px solid #d5d5d5;
    }
}

.mat-table-row,
.mat-table-nested-row {
    align-items: center;
    align-self: stretch;
    display: flex;
    min-height: 48px;

    .mat-table-cell:first-child {
        padding-left: 24px;
    }

    .mat-table-cell:last-child {
        padding-right: 24px;
    }

    &.mat-table-collapsible-row {
        .mat-table-cell {
            padding-bottom: 0;
            padding-top: 0;
        }

        .mat-table-cell:first-child {
            padding-left: 16px;
        }
    }
}

.mat-table-cell {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1 1 auto;
    padding: 4px 56px;
}

.mat-table-nested-row-container {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 0;

    .mat-table-nested-row:first-child {
        border-top: none;
    }
}

.mat-table-columnheader,
.mat-table-rowheader {
    font-weight: bold;
}

.mat-table-condensed {
    .mat-table-row,
    .mat-table-nested-row {
        min-height: 33px;
    }

    .mat-table-cell {
        padding: 4px 8px;
    }
}

.mat-card.mat-table-card {
    padding: 0;

    .mat-card-title {
        height: 64px;
        padding: 24px;
    }

    &.mat-table-card-condensed {
        .mat-card-title {
            height: 33px;
            padding: 8px 24px;
        }
    }
}
