
<md-card *ngIf="tabsVisible">
    <md-card-title>Tabbed Sections</md-card-title>
    <md-card-content>
        <md-tab-group md-stretch-tabs>
            <md-tab *ngFor="let section of sections">
                <ng-template md-tab-label>{{section.header}}</ng-template>
                <section [innerHTML]="section.content"></section>
                <br>
            </md-tab>
        </md-tab-group>
    </md-card-content>
</md-card>

<md-card *ngIf="!tabsVisible">
    <md-card-title>Vertical Sections (no tabs)</md-card-title>
    <md-card-content>
        <section>
            <section *ngFor="let section of sections">
                <h5>{{section.header}}</h5>
                <section [innerHTML]="section.content"></section>
                <br>
            </section>
        </section>
    </md-card-content>
</md-card>

<ng-template cfToolbarPortal #toolbarPortal="toolbarPortal">
    <cbp-tabs-demo-toolbar (tabsVisible)="onTabsVisibleChange($event)"></cbp-tabs-demo-toolbar>
</ng-template>
