
<mat-card *ngIf="tabsVisible">
    <mat-card-title>Tabbed Sections</mat-card-title>
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs>
            <mat-tab *ngFor="let section of sections">
                <ng-template mat-tab-label>{{section.header}}</ng-template>
                <section [innerHTML]="section.content"></section>
                <br>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!tabsVisible">
    <mat-card-title>Vertical Sections (no tabs)</mat-card-title>
    <mat-card-content>
        <section>
            <section *ngFor="let section of sections">
                <h5>{{section.header}}</h5>
                <section [innerHTML]="section.content"></section>
                <br>
            </section>
        </section>
    </mat-card-content>
</mat-card>

<ng-template cdkPortal #toolbarPortal="cdkPortal">
    <cbp-tabs-demo-toolbar (tabsVisible)="onTabsVisibleChange($event)"></cbp-tabs-demo-toolbar>
</ng-template>
