<div>
    <h2 class="page-header">Pay Period Calendar</h2>
    <div class="panel">
        <div class="panel-body">
            <h3>At a minimum specify the visible months and payPeriodsOfMonth based on monthSelected</h3>
            <cf-pay-period-calendar id="demo1"
                                    *ngIf="demo1Months"
                                    [months]="demo1Months"
                                    [selectedPayPeriod]="demo1SelectedPayPeriod"
                                    [payPeriodsOfMonth]="demo1PayPeriodsOfMonth | async"
                                    (monthSelected)="demo1MonthSelected($event)"
                                    (payPeriodSelected)="demo1SelectedPayPeriod = $event"></cf-pay-period-calendar>
        </div>
        <div class="panel-body">
            <h3>Any pay period can be marked as non-selectable</h3>
            <cf-pay-period-calendar id="demo2"
                                    *ngIf="demo2Months"
                                    [months]="demo2Months"
                                    [selectedPayPeriod]="demo2SelectedPayPeriod"
                                    [payPeriodsOfMonth]="demo2PayPeriodsOfMonth | async"
                                    (monthSelected)="demo2MonthSelected($event)"
                                    (payPeriodSelected)="demo2SelectedPayPeriod = $event"></cf-pay-period-calendar>
        </div>
    </div>
</div>
