<div>
    <h1 class="page-header">Radio Button</h1>
    <div class="panel">
        <div class="panel-body">
            <h2>Vertical</h2>
            <div class="container-fluid">
                <div class="row">
                    <cf-radio-group [(ngModel)]="demo1Model">
                        <cf-radio-button value="value1">Checked</cf-radio-button>
                        <cf-radio-button value="value2">Normal</cf-radio-button>
                        <cf-radio-button value="value3" [disabled]="true">Disabled</cf-radio-button>
                        <cf-radio-button value="value4">
                            Extended
                            <cf-help-text>This option has some useful help text associated with it that elaborates on the state or purpose.</cf-help-text>
                        </cf-radio-button>
                    </cf-radio-group>
                </div>
            </div>

            <h2>Inline</h2>
            <div class="container-fluid">
                <div class="row">
                    <cf-radio-group [(ngModel)]="demo2Model" [isInline]="true">
                        <cf-radio-button value="value1">Checked</cf-radio-button>
                        <cf-radio-button value="value2">Normal</cf-radio-button>
                        <cf-radio-button value="value3" [disabled]="true">Disabled</cf-radio-button>
                    </cf-radio-group>
                </div>
            </div>

            <h2>Group disabled</h2>
            <div class="container-fluid">
                <div class="row">
                    <cf-radio-group [(ngModel)]="demo3Model" [disabled]="true">
                        <cf-radio-button value="value1">Checked</cf-radio-button>
                        <cf-radio-button value="value2">Normal</cf-radio-button>
                        <cf-radio-button value="value3" [disabled]="true">Disabled</cf-radio-button>
                        <cf-radio-button value="value4">
                            Extended
                            <cf-help-text>This option has some useful help text associated with it that elaborates on the state or purpose.</cf-help-text>
                        </cf-radio-button>
                    </cf-radio-group>
                </div>
            </div>
        </div>
    </div>
</div>
