<div>
    <h1 class="page-header">Badge</h1>
    <div class="panel">
        <div class="panel-body">
            <h2>Badges with colors</h2>
            <div class="container-fluid" style="max-width: 400px; margin: 0;">
                <div class="row" style="padding-top: 15px;">
                    <div cfBadge>10</div>
                    <div cfBadge color="primary">20</div>
                    <div cfBadge color="accent">30</div>
                    <div cfBadge color="warn">40</div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h2>Badges in icon buttons</h2>
            <div class="container-fluid" style="max-width: 400px; margin: 0;">
                <div class="row" style="padding-top: 15px;">
                    <button md-icon-button color="primary">
                        <md-icon>filter_list</md-icon>
                        <div cfBadge color="accent">30</div>
                    </button>
                    <button md-icon-button color="accent">
                        <md-icon>filter_list</md-icon>
                        <div cfBadge color="primary">20</div>
                    </button>
                    <button md-icon-button color="warn">
                        <md-icon>mail</md-icon>
                        <div cfBadge color="warn">10</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h2>Badges in floating action buttons</h2>
            <div class="container-fluid" style="max-width: 400px; margin: 0;">
                <div class="row" style="padding-top: 15px;">
                    <button md-fab color="primary">
                        <md-icon>filter_list</md-icon>
                        <div cfBadge color="accent">30</div>
                    </button>
                    <button md-fab color="accent">
                        <md-icon>filter_list</md-icon>
                        <div cfBadge color="primary">20</div>
                    </button>
                    <button md-fab color="warn">
                        <md-icon>mail</md-icon>
                        <div cfBadge>10</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h2>Badges in mini floating action buttons</h2>
            <div class="container-fluid" style="max-width: 400px; margin: 0;">
                <div class="row" style="padding-top: 15px;">
                    <button md-mini-fab color="primary">
                        <md-icon>filter_list</md-icon>
                        <div cfBadge color="accent">30</div>
                    </button>
                    <button md-mini-fab color="accent">
                        <md-icon>filter_list</md-icon>
                        <div cfBadge color="primary">20</div>
                    </button>
                    <button md-mini-fab color="warn">
                        <md-icon>mail</md-icon>
                        <div cfBadge>10</div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
