<div [id]="id">
    <cf-pagination [query]="query" 
            (getpagedata)="loadPage($event)"></cf-pagination>

    <table class="cbp-table mdl-js-data-table"
        [ngClass]="{ 'table-striped': hasStripedAltRow() }" >
        <thead *ngIf="hasNoHeader()">
            <tr >
                <th scope="col" *ngIf="showSelector()">
                </th>
                <th scope="col" *ngFor="let item of data.header"
                    [title]="item.title"
                    [innerHTML]="item.html"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowItem of data.data">
                <td scope="col" *ngIf="showSelector()">
                    <label class="cbp-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" for="row[1]" data-upgraded=",MaterialCheckbox,MaterialRipple">
                        <input type="checkbox" id="row[1]" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__focus-helper"></span>
                        <span class="mdl-checkbox__box-outline">
                            <span class="mdl-checkbox__tick-outline"></span>
                        </span>
                        <span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple">
                            <span class="mdl-ripple"></span>
                        </span>
                    </label>
                </td>
                <td scope="row" *ngFor="let headerItem of data.header">
                    <span [innerHTML]="rowItem[headerItem.attribute]">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>