<div>
    <div class="form-inline" >
        <div class="form-group">
            <div class="btn-group dropdown">
                <button type="button" id="dropdownMenu9" class="btn-link btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{ query.limit }} per page
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu9">
                    <li role="presentation" class="dropdown-header">Show up to</li>
                    <li role="presentation" class="active" *ngFor="let limit of query.limits" [ngClass]="{ 'active': limit === query.limit }" >
                        <a role="menuitem" tabindex="-1" (click)="updateLimit(limit)">{{limit}} items</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group" *ngIf="showPagination()">
            <div class="btn-group">
                <a class="btn btn-default" (click)="setPage(pager.currentPage - 1)">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="btn btn-default" (click)="setPage(1)" [ngClass]="{ 'active': pager.currentPage === 1 }" >1</a>
                <a class="btn btn-default ellipsis" *ngIf="pager.pages.indexOf(2) === -1" href="javascript:void(0)">...</a>
                <a class="btn btn-default" *ngFor="let page of pager.pages" [ngClass]="{ 'active': pager.currentPage === page }" (click)="setPage(page)">
                    {{page}}
                </a>
                <a class="btn btn-default ellipsis" *ngIf="pager.pages.indexOf(pager.totalPages-1) === -1" href="javascript:void(0)">...</a>
                <a class="btn btn-default" (click)="setPage(pager.totalPages)" [ngClass]="{ 'active': pager.currentPage === pager.totalPages }">
                    {{pager.totalPages}}
                </a>
                <a class="btn btn-default"(click)="setPage(pager.currentPage + 1)">
                    <i class="fa fa-angle-right"></i>
                </a>
        </div>
      </div>
      <div class="form-group" *ngIf="showPagination()">
        <div class="input-group">
            <div class="mdl-textfield mdl-js-textfield is-upgraded" style="width: 150px;" data-upgraded=",MaterialTextfield">
                <label for="pagination888" class="mdl-textfield__label">15 out of 40</label>
                <input id="pagination888" type="text" class="mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?">
            </div>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go</button>
            </span>
        </div>
    </div>

      <!-- <h3>Small</h3>
      <div class="form-inline">
        <div class="form-group dropdown">
          <div class="btn-group">
            <a href="#" class="btn btn-default">
              <i class="fa fa-angle-left"></i>
            </a>
            <a class="btn btn-default dropdown-toggle" id="dropdownMenu6" data-toggle="dropdown" href="">
              15/25 <span class="caret"></span>
            </a>
            <a href="#" class="btn btn-default">
              <i class="fa fa-angle-right"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu6">
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">Show up to</li>
              <li role="presentation" class="active">
                <a role="menuitem" tabindex="-1" href="#">10 items</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">25 items</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">50 items</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#">100 items</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="mdl-textfield mdl-js-textfield is-upgraded" style="width: 150px;" data-upgraded=",MaterialTextfield">
              <label for="pagination999" class="mdl-textfield__label">15 out of 40</label>
              <input id="pagination999" type="text" class="mdl-textfield__input" pattern="-?[0-9]*(\.[0-9]+)?">
            </div>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go</button>
            </span>
          </div>
        </div>
      </div> -->
    </div>
    <table class="cbp-table mdl-js-data-table" data-upgraded=",MaterialDataTable"
        [ngClass]="{ 'table-striped': hasStripedAltRow() }" >
        <thead *ngIf="hasNoHeader()">
            <tr >
                <th scope="col" *ngIf="showSelector()">
                    <label class="cbp-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" for="row[1]" data-upgraded=",MaterialCheckbox,MaterialRipple">
                        <input type="checkbox" id="row[1]" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__focus-helper"></span>
                        <span class="mdl-checkbox__box-outline">
                            <span class="mdl-checkbox__tick-outline"></span>
                        </span>
                        <span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple">
                            <span class="mdl-ripple"></span>
                        </span>
                    </label>
                </th>
                <th scope="col" *ngFor="let item of data.header"
                    [title]="item.title"
                    [innerHTML]="item.html"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowItem of data.data">
                <td scope="col" *ngIf="showSelector()">
                    <label class="cbp-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-js-ripple-effect--ignore-events is-upgraded" for="row[1]" data-upgraded=",MaterialCheckbox,MaterialRipple">
                        <input type="checkbox" id="row[1]" class="mdl-checkbox__input">
                        <span class="mdl-checkbox__focus-helper"></span>
                        <span class="mdl-checkbox__box-outline">
                            <span class="mdl-checkbox__tick-outline"></span>
                        </span>
                        <span class="mdl-checkbox__ripple-container mdl-js-ripple-effect mdl-ripple--center" data-upgraded=",MaterialRipple">
                            <span class="mdl-ripple"></span>
                        </span>
                    </label>
                </td>
                <td scope="row" *ngFor="let headerItem of data.header">
                    <span [innerHTML]="rowItem[headerItem.attribute]">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>