<div class="home-container">
    <h1>Welcome To BEMSD Quick Start</h1>
    <h2>Angular 2 - Redux - Webpack</h2>
    <div class="row">
        <div class="col-lg-12 noHeight">
            <h3>Web Development Tools:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/angular.png" width="100"
                alt="Angular 2"/>
            <h4>Angular 2</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/redux.png" width="100"
                alt="Redux"/>
            <h4>Redux</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/webpack.jpg" width="100"
                alt="Webpack"/>
            <h4>Webpack</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/cf.png" width="100"
                alt="OIT Common Framework"/>
            <h4>OIT Common Framework</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/sass.png" class="mid" width="100"
                alt="Scss"/>
            <h4>SCSS</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 noHeight">
            <h3>Web Build Tools:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/nodeJs.png" width="100"
                alt="Node JS"/>
            <h4>Node JS</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/npm.png" class="center" width="100"
                alt="Npm"/>
            <h4>npm</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/webpack.jpg" width="100"
                alt="Gulp"/>
            <h4>Webpack</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 img-container">
            <img src="../images/github.jpg" class="center" width="100"
                alt="Bit Bucket"/>
            <h4>GitHub</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 noHeight">
            <h3>Web Unit Testing:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 img-container">
            <img src="../images/karma.png" class="center" width="100"
                alt="karma"/>
            <h4>Karma</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 img-container">
            <img src="../images/jasmine.png" class="center" width="100"
                alt="jasmine"/>
            <h4>Jasmine</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 img-container">
            <img src="../images/webpack.jpg" width="100"
                alt="Webpack"/>
            <h4>Webpack</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 img-container">
            <img src="../images/phantomJs.png" width="100"
                alt="Phantom JS"/>
            <h4>Phantom JS</h4>
        </div>
    </div>
</div>
