<div>
    <h1 class="page-header">List Group</h1>
    <div class="panel">
        <div class="panel-body">
            <!-- <h2>Button roles</h2> -->
            <div class="container-fluid">
                <div class="row">
                   <cf-list-group width="150px">
                        <cf-list-group-item>
                            Inbox
                            <span class="badge pull-right">1,932</span>
                        </cf-list-group-item>
                        <cf-list-group-item [active]="true">
                            Outbox
                            <span class="badge pull-right">2</span>
                        </cf-list-group-item>
                        <cf-list-group-item>
                            Spam
                        </cf-list-group-item>
                    </cf-list-group>
                </div>
            </div>
        </div>
    </div>
</div>
